<div class="container bg-light p-1">
  <h3>Menu</h3>
  <div class="container-fluid">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action"
        aria-current="true"
      >
        Home
      </a>
      <a href="#" class="list-group-item list-group-item-action active"
        >Peliculas</a
      >
      <a href="#" class="list-group-item list-group-item-action">Musica</a>
      <a href="#" class="list-group-item list-group-item-action">Deportes</a>
      <a href="#" class="list-group-item list-group-item-action">Streaming</a>
    </div>
  </div>
</div>
